<?xml version="1.0"?>
<launch>

    <arg name="namespace" default="/hsrb"/>
    <arg name="debug" default="false"/>
    <!--<arg name="gui" default="true" />-->
    <arg name="gui" default="true" />
    <arg name="rviz" default="true"/>
    <arg name="gazebo_visualization" default="true" />
    <arg name="use_manipulation" default="true" />
    <arg name="use_navigation" default="true" />
    <arg name="use_perception" default="true" />
    <arg name="use_task" default="true" />
    <arg name="use_teleop" default="true" />
    <arg name="use_web" default="true" />
    <arg name="use_laser_odom" default="false" />
    <arg name="paused" default="false" />
    <arg name="fast_physics" default="true" />
    <arg name="robot_name" default="hsrb" />
    <arg name="param_file" default="$(env HOME)/.ros/params.yaml" />

    <arg unless="$(arg fast_physics)" name="world_suffix" value=""/>
    <arg     if="$(arg fast_physics)" name="world_suffix" value="_fast"/>

    <!-- ToDo: Change to robotics testlab -->
<!--
    <arg name="map" default="$(find tmc_potential_maps)/maps/white_space/map.yaml" />
    <arg name="world_name" default="$(find tmc_gazebo_worlds)/worlds/empty$(arg world_suffix).world"/>
-->
    <arg name="world_name" value="robotics_testlabs/model-1_6.sdf"/> <!-- note: the world_name is with respect to gazebo_resource_path environmental variable -->
    <arg name="robot_pos" default="-x $(optenv ROBOT_INIT_X 0) -y $(optenv ROBOT_INIT_Y 0) -z 0 -Y $(optenv ROBOT_INIT_PHI 0)" />

    <!-- gazebo ; From hsrb_empty_world in hsrb_gazebo_bringup-->
    <arg name="use_sim_time" default="true"/>
    <param name="/use_sim_time" value="$(arg use_sim_time)" />


    <group>
      <remap from="$(arg namespace)/command_velocity" to="$(arg namespace)/opt_command_velocity" />
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="world_name" value="$(arg world_name)"/>
      </include>
    </group>

    <!-- launch hsr -->
    <include file="$(find hero_bringup)/hsrb_gazebo_bringup/launch/include/hsrb.xml">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="robot_pos" value="$(arg robot_pos)" />
        <arg name="gazebo_visualization" value="$(arg gazebo_visualization)" />
        <arg name="use_laser_odom" value="$(arg use_laser_odom)" />
        <arg name="fast_physics" value="$(arg fast_physics)" />
        <arg name="robot_name" value="$(arg robot_name)" />
<!--
        <remap from="command_velocity" to="base/references" />
-->
    </include>

    <group>
      <include file="$(find hsrb_gazebo_bringup)/launch/include/hsrb_sensor.xml" >
        <arg name="namespace" value="$(arg namespace)" />
      </include>
    </group>

    <node name="talk_action_simulator" pkg="tmc_talk_action_simulator" type="talk_request_server"/>

    <!-- common remapping -->
    <remap from="/joint_states" to="$(arg namespace)/joint_states" />

</launch>

