<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="/hsrb" />
  <!-- sensor -->
  <arg name="config_dir" default="/etc/opt/tmc/robot/conf.d" />
  <arg name="calib_dir" default="$(arg config_dir)/calib_results" />
  <arg name="use_hand_camera" default="true"/>
  <arg name="use_head_center_camera" default="true"/>
  <arg name="use_head_stereo_camera" default="true"/>
  <arg name="use_head_rgbd_sensor" default="true"/>
  <arg name="use_base_range_sensor" default="true" />
  <arg name="use_laser_odom" default="true" />
  <arg name="use_blackfly" default="false" />
  <arg name="enable_emergency_stop" default="true" />

  <!-- include PHASE info -->
  <include file="$(find hsrb_bringup)/launch/include/hsrb_bringup_common_$(optenv ROBOT_VERSION HSRB-PHASE5).xml">
    <arg name="namespace" value="$(arg namespace)" /> <!-- TUe Added -->
    <arg name="use_hand_camera" value="$(arg use_hand_camera)"/>
    <arg name="use_head_center_camera" value="$(arg use_head_center_camera)"/>
    <arg name="use_head_stereo_camera" value="$(arg use_head_stereo_camera)"/>
    <arg name="use_head_rgbd_sensor" value="$(arg use_head_rgbd_sensor)"/>
    <arg name="use_base_range_sensor" value="$(arg use_base_range_sensor)" />
    <arg name="use_blackfly" value="$(arg use_blackfly)" />
  </include>

  <include file="$(find hero_bringup)/hsrb_bringup/launch/include/hsrb_bringup_common.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="enable_emergency_stop" value="$(arg enable_emergency_stop)" />
    <arg name="use_laser_odom" value="$(arg use_laser_odom)" />
  </include>
</launch>
