[Unit]
Description=Launch file hsrb_monitor.launch of package hero_bringup.git for user administrator
After=hero1-roscore.service
Requires=hero1-demo-roscore.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=-/etc/opt/tmc/robot/version
User=demo
Restart=on-failure
ExecStart=/bin/bash -c 'source /home/demo/.tue/setup.bash && roslaunch hero_bringup hsrb_monitor.launch namespace:=/hero --wait'
