[Unit]
Description=HERO phone ui
After=hero1-demo-roscore.service
Requires=hero1-demo-roscore.service

[Install]
WantedBy=multi-user.target

[Service]
User=demo
Restart=on-abort
ExecStart=/bin/bash -c 'source /home/demo/.tue/setup.bash && roslaunch hero_bringup phone_ui.launch --wait'
