[Unit]
Description=NTPDATE
After=network-online.target systemd-resolved.service
Requires=network-online.target systemd-resolved.service

[Install]
WantedBy=hero1-demo-roscore.service

[Service]
Restart=on-failure
ExecStart=/usr/sbin/ntpdate ntp.ubuntu.com
