[Unit]
SourcePath=/usr/lib/virtualbox/vboxdrv.sh
Description=VirtualBox Linux kernel module
Before= shutdown.target
After=
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/usr/lib/virtualbox/vboxdrv.sh start
ExecStop=/usr/lib/virtualbox/vboxdrv.sh stop

[Install]
WantedBy=hero1-demo-speech5-windows-speech.service
