[Unit]
Description=NTPDATE
After=network-online.target systemd-resolved.service
Requires=network-online.target systemd-resolved.service

[Install]
WantedBy=hero1-roscore.service

[Service]
Restart=on-abort
ExecStart=/usr/sbin/ntpdate ntp.ubuntu.com
