[Unit]
SourcePath=/usr/lib/virtualbox/vboxweb-service.sh
Description=
Before=shutdown.target
After=hero1-speech3-vboxdrv.service
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/usr/lib/virtualbox/vboxweb-service.sh start
ExecStop=/usr/lib/virtualbox/vboxweb-service.sh stop

[Install]
WantedBy=hero1-speech5-windows-speech.service
