[Unit]
Description=Windows Speech VM service
After=network.target hero1-speech3-vboxdrv.service
Wants=network.target hero1-speech3-vboxdrv.service
Before=shutdown.target
Conflicts=shutdown.target

[Service]
User=administrator
Group=vboxusers
Restart=always
ExecStart=/usr/bin/vboxheadless -s windows
ExecStop=/usr/bin/vboxmanage controlvm windows acpipowerbutton

[Install]
WantedBy=multi-user.target
