[Unit]
Description=ROSCORE
After=network-online.target
Requires=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=-/etc/opt/tmc/robot/version
User=administrator
Restart=on-failure
ExecStart=/bin/bash -c 'source /home/administrator/.tue/setup.bash && rosrun hsrb_bringup hsrb_roscore_service namespace:=/hero use_hand_camera:=false use_head_center_camera:=false use_head_stereo_camera:=false use_head_rgbd_sensor:=true robot_name:=hsrb --screen'
