[Unit]
Description=ROSCORE
After=network-online.target
Requires=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=-/etc/opt/tmc/robot/version
User=administrator
Restart=on-failure
ExecStart=/bin/bash -c 'source /home/administrator/.tue/setup.bash && rosrun hsrb_bringup hsrb_roscore_service namespace:=/hero analyzer_config:=$(rospack find hero_bringup)/hsrb_bringup/params/hsrb_analyzers_hsrb.yaml robot_name:=hsrb --screen'
