[Unit]
Description=running battery_manager_laptop
After=hero2-roscore.service
Requires=hero2-roscore.service

[Install]
WantedBy=multi-user.target

[Service]
User=demo
Restart=on-failure
ExecStart=/bin/bash -c 'source /home/demo/.tue/setup.bash && \
                        roslaunch hero_bringup battery_manager_laptop
