<?xml version="1.0"?>

<launch>

    <group ns="amigo">

		<!-- NAVIGATION -->
		<include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
			<arg name="machine" value="amigo2"/>
		</include>

		<!-- Relay of the kinect to save bandwidth -->
        <group if="$(optenv ROBOT_REAL false)">
            <include file="$(find robot_launch_files)/launch/hardware/sensors/kinect_relay.launch">
                <arg name="from" value="top_kinect_amigo1"/>
                <arg name="to" value="top_kinect"/>
            </include>
        </group>
        
		<!-- WORLD MODEL -->
		<include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
			<arg name="machine" value="amigo2"/>
			<arg name="config" value="world_modeling/world_model_help_me_carry.yaml"/>
		</include>

    </group>

	<!-- Start the challenge -->
	<node pkg="challenge_help_me_carry" type="challenge_help_me_carry.py" name="state_machine" args="amigo" output="screen" required="true"/>

</launch>
