<?xml version="1.0"?>

<launch>
    <arg name="robot_name" value="hero" />

    <group ns="$(arg robot_name)">

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="hero2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="hero2"/>
            <arg name="config" value="world_modeling/world_model.yaml"/>
        </include>

        <!-- IMAGE RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/world_modeling/image_recognition.launch">
            <arg name="machine" value="hero2"/>
        </include>

        <!-- PEOPLE RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/world_modeling/people_recognition.launch">
            <arg name="machine" value="hero2"/>
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

    </group>

    <!-- Start the challenge -->
    <node pkg="challenge_serving_drinks" type="challenge_serving_drinks" name="state_machine" args="hero" output="screen" required="true"/>

</launch>
