<?xml version="1.0"?>

<launch>

    <arg name="robot_name" value="amigo" />
    <arg name="skip" default="false" />
    <arg name="number_of_tasks" default="0" />
    <arg name="restart" default="false" />
    <arg name="test_mode" default="false" />
    <arg name="time_limit" default="0" />
    <arg name="eegpsr" value="true" />

    <group ns="$(arg robot_name)">

        <!-- ROBOCUP RECORDER -->
        <include file="$(find robot_launch_files)/launch/essentials/record_robocup.launch">
            <arg name="machine" value="amigo2" />
        </include>

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
			<arg name="config" value="world_modeling/world_model_gpsr.yaml"/>
        </include>

        <!-- Start the action server -->
        <node pkg="action_server" type="main.py" name="action_server" output="screen" respawn="true">
            <param name="robot_name" value="$(arg robot_name)" />
        </node>

        <node pkg="topic_tools" type="relay" args="message_to_ros hmi/string" name="chat_to_hmi"/>
        <node pkg="topic_tools" type="relay" args="text_to_speech/output message_from_ros" name="speech_to_chat"/>

    </group>

    <!-- Start the challenge -->
    <node pkg="challenge_gpsr" type="gpsr.py" name="state_machine" output="screen" required="true">
        <param name="robot_name" value="$(arg robot_name)" />
        <param name="skip" value="$(arg skip)" />
        <param name="number_of_tasks" value="$(arg number_of_tasks)" />
        <param name="restart" value="$(arg restart)" />
        <param name="test_mode" value="$(arg test_mode)" />
        <param name="time_limit" value="$(arg time_limit)" />
        <param name="eegpsr" value="$(arg eegpsr)" />
    </node>

</launch>
