<?xml version="1.0"?>

<launch>

    <group ns="amigo">

		<!-- NAVIGATION -->
		<include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
			<arg name="machine" value="amigo2"/>
		</include>

		<!-- WORLD MODEL -->
		<include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
			<arg name="machine" value="amigo2"/>
		</include>

	</group>

	<!-- Challenge -->
	<node pkg="challenge_final" type="challenge-final" name="state_machine" args="amigo" output="screen" required="true"/>

</launch>
