<?xml version="1.0"?>

<launch>

    <group ns="amigo">

		<!-- NAVIGATION -->
		<include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
			<arg name="machine" value="amigo2"/>
		</include>

		<!-- WORLD MODEL -->
		<include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
			<arg name="machine" value="amigo2"/>
			<arg name="config" value="world_modeling/world_model_r5cop.yaml"/>
		</include>

		<node name="ed_server_bridge" pkg="multirobot_communication" type="ed_server_bridge.py">
            <param name="ip" value="192.168.2.92" />
            <param name="port" value="3000" />
        </node>

        <node name="trigger_server" pkg="multirobot_communication" type="trigger_server.py" output="screen">
            <param name="ip" value="192.168.2.92" />
            <param name="port" value="4000" />
            <param name="robot_name" value="amigo" />
        </node>

        <node name="trigger_client" pkg="multirobot_communication" type="trigger_client.py" output="screen">
            <param name="ip" value="192.168.2.206" />
            <param name="port" value="4000" />
            <param name="remote_robot_name" value="x80sv" />
        </node>

    </group>

	<!-- Start the challenge -->
	<node pkg="r5cop_demo" type="challenge_amigo.py" name="state_machine" args="amigo" output="screen" required="true"/>

</launch>
