<?xml version="1.0"?>

<launch>

    <arg name="robot_name" value="amigo" />
    <arg name="robot_env" default="$(optenv ROBOT_ENV robotics_testlabs)" />

    <group ns="$(arg robot_name)">

        <!-- ROBOCUP RECORDER -->
        <include file="$(find robot_launch_files)/launch/essentials/record_robocup.launch">
            <arg name="machine" value="amigo2" />
        </include>

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
			<arg name="config" value="world_modeling/world_model.yaml"/>
        </include>

    </group>

	<group if="$(optenv ROBOT_REAL false)">
		<include file="$(find challenge_open)/launch/amigo_dependencies.launch">
			<arg name="local_server_host" value="192.168.44.92"/>
		</include>
	</group>

</launch>
