<?xml version="1.0"?>

<launch>

    <group ns="amigo">

        <!-- ROBOCUP RECORDER -->
        <include file="$(find robot_launch_files)/launch/essentials/record_robocup.launch">
            <arg name="machine" value="amigo2" />
        </include>

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
        </include>

    </group>

    <!-- Start the challenge -->
    <node pkg="challenge_set_a_table" type="challenge_set_a_table.py" name="state_machine" args="amigo" output="screen" required="true"/>

</launch>
