<?xml version="1.0"?>

<launch>

    <group ns="amigo">

        <!-- ROBOCUP RECORDER -->
        <include file="$(find robot_launch_files)/launch/essentials/record_robocup.launch">
            <arg name="machine" value="amigo2" />
        </include>

        <!-- LOCALIZATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/localization/gmapping.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="sensor" value="base_laser"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation_gmapping.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- Relay of the kinect to save bandwidth -->
        <group if="$(optenv ROBOT_REAL false)">
            <include file="$(find robot_launch_files)/launch/hardware/sensors/kinect_relay.launch">
                <arg name="from" value="top_kinect_amigo1"/>
                <arg name="to" value="top_kinect"/>
            </include>
        </group>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="config" value="world_modeling/world_model_gmapping.yaml"/>
        </include>

    </group>

    <!-- Don't start the challenge, first drive a little to initialze gmapping -->

</launch>
