<?xml version="1.0"?>

<launch>

    <group ns="amigo">

        <!-- ROBOCUP RECORDER -->
        <include file="$(find robot_launch_files)/launch/essentials/record_robocup.launch">
            <arg name="machine" value="amigo2" />
        </include>

        <!-- LOCALIZATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/localization/gmapping.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="sensor" value="base_laser"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation_gmapping.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="config" value="world_modeling/world_model_gmapping.yaml"/>
        </include>

        <!-- Vizbox -->
        <rosparam>
story:
    title: Restaurant
    storyline:
        - Find the table
        - Wait for a waving human
        - Ask waiter if I should take the order
        - Go to the waving person
        - Accept an order
        - Get the order from the table
        - Bring the order
        </rosparam>
        <include file="$(find robot_launch_files)/launch/interaction/vizbox.launch">
            <arg name="machine" value="amigo2" />
            <arg name="robot_name" value="amigo" />
        </include>

    </group>

    <!-- Don't start the challenge, first drive a little to initialze gmapping -->

</launch>
