<?xml version="1.0"?>

<launch>

    <group ns="amigo">

        <!-- LOCALIZATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/localization/gmapping.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="sensor" value="base_laser"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation_gmapping.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="config" value="world_modeling/world_model_gmapping.yaml"/>
        </include>

    </group>
    
    <!-- Start the challenge -->
    <node pkg="challenge_restaurant" type="challenge_restaurant" name="state_machine" args="amigo" output="screen" required="true"/>

</launch>
