<?xml version="1.0"?>

<launch>

    <arg name="robot_name" value="amigo" />
    <arg name="robot_env" default="$(optenv ROBOT_ENV robotics_testlabs)" />

    <group ns="$(arg robot_name)">

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
			<arg name="config" value="world_modeling/world_model.yaml"/>
        </include>

    </group>
	
</launch>
