<?xml version="1.0"?>

<!-- Checkout README.md to see when to use this launch file -->

<launch>
    <arg name="robot_name" value="amigo" />
    <arg name="skip" default="true" />
    <arg name="number_of_tasks" default="15" />
    <arg name="time_limit" default="999" />

    <group ns="$(arg robot_name)">

        <!-- LOCALIZATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/localization/gmapping.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="sensor" value="base_laser"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation_gmapping.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="config" value="world_modeling/world_model_demo_intern.yaml"/>
        </include>

        <!-- Slack bridge -->
        <include file="$(find robot_launch_files)/launch/interaction/slack.launch">
            <arg name="machine" value="amigo2"/>
            <param name="robot_name" value="$(arg robot_name)" />
        </include>

        <!-- Telegram bridge -->
        <include file="$(find robot_launch_files)/launch/interaction/telegram.launch">
            <arg name="machine" value="amigo2"/>
            <param name="robot_name" value="$(arg robot_name)" />
        </include>

    </group>

    <!-- Start conversation engine -->
    <node name="conversation_engine" pkg="conversation_engine" type="engine" output="log" respawn="true" args="--robot amigo">
        <remap from="robot_to_user" to="/amigo/message_to_telegram" />
        <remap from="user_to_robot" to="/amigo/message_from_telegram" />
    </node>

    <!-- Start the action server -->
    <node pkg="action_server" type="main.py" name="action_server" output="screen" respawn="true">
        <param name="robot_name" value="$(arg robot_name)" />
    </node>

    <!-- Start the challenge -->
    <node pkg="challenge_demo" type="demo.py" name="state_machine" output="screen" required="true">
        <param name="robot_name" value="$(arg robot_name)" />
        <param name="skip" value="$(arg skip)" />
        <param name="number_of_tasks" value="$(arg number_of_tasks)" />
        <param name="time_limit" value="$(arg time_limit)" />
    </node>

</launch>
