<?xml version="1.0"?>

<launch>
    <arg name="robot_name" value="amigo" />

	<group ns="$(arg robot_name)">

        <!-- LOCALIZATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/localization/gmapping.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="sensor" value="base_laser"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation_gmapping.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="config" value="world_modeling/world_model_demo.yaml"/>
        </include>

    </group>

	<!-- Start the action server -->
    <node pkg="action_server" type="main.py" name="action_server" output="screen" respawn="true">
        <param name="robot_name" value="$(arg robot_name)" />
    </node>

    <!-- Start the challenge -->
    <node pkg="challenge_demo" type="demo.py" name="state_machine" output="screen" required="true">
        <param name="robot_name" value="$(arg robot_name)" />
        <param name="skip" value="True" />
        <param name="number_of_tasks" value="10" />
    </node>

</launch>
