<?xml version="1.0"?>

<!-- Checkout README.md to see when to use this launch file -->

<launch>

    <group ns="amigo">

        <!-- LOCALIZATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/localization/gmapping.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="sensor" value="base_laser"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation_gmapping.launch">
            <arg name="machine" value="amigo2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo2"/>
            <arg name="config" value="world_modeling/world_model_demo.yaml"/>
        </include>

    </group>

    <!-- Action server state machine -->
    <node name="state_machine" pkg="action_server" type="main.py" output="screen" required="true" >
        <param name="robot_name" value="amigo"/>
    </node>

</launch>
