<?xml version="1.0"?>

<!-- Checkout README.md to see when to use this launch file -->

<launch>
    <arg name="robot_name" value="hero" />
    <arg name="skip" default="true" />
    <arg name="number_of_tasks" default="0" />
    <arg name="time_limit" default="999" />

    <remap from="/diagnostics" to="/$(arg robot_name)/diagnostics" />

    <group ns="$(arg robot_name)">

        <!-- LOCALIZATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/localization/gmapping.launch">
            <arg name="sensor" value="base_laser"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation_gmapping.launch"/>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="config" value="world_modeling/world_model_demo_extern.yaml"/>
        </include>

        <!-- IMAGE RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/world_modeling/image_recognition.launch"/>

        <!-- PEOPLE RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/world_modeling/people_recognition.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <!-- Telegram interface -->
        <include file="$(find robot_launch_files)/launch/interaction/telegram.launch">
             <arg name="robot_name" value="hero"/>
        </include>


    </group>

    <!-- Start the action server -->
    <node pkg="action_server" type="main.py" name="action_server" output="screen" respawn="true">
        <param name="robot_name" value="$(arg robot_name)" />
    </node>

    <!-- Start the challenge -->
    <node pkg="challenge_demo" type="demo.py" name="state_machine" output="screen" required="true">
        <param name="robot_name" value="$(arg robot_name)" />
        <param name="skip" value="$(arg skip)" />
        <param name="number_of_tasks" value="$(arg number_of_tasks)" />
        <param name="time_limit" value="$(arg time_limit)" />
    </node>

    <node name="conversation_engine" pkg="conversation_engine" type="engine" output="log" required="true" args="--robot hero">
        <param name="robot" value="hero" />
        <param name="challenge" value="challenge_demo" />
        <remap from="robot_to_user" to="/hero/message_from_ros" />
        <remap from="user_to_robot" to="/hero/message_to_ros" />
    </node>
</launch>
