<?xml version="1.0"?>

<!-- Checkout README.md to see when to use this launch file -->

<launch>
    <arg name="robot_name" value="hero"/>

    <group ns="$(arg robot_name)">

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="hero2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="hero2"/>
            <arg name="config" value="world_modeling/world_model.yaml"/>
        </include>

        <!-- Joke -->
        <include file="$(find robot_launch_files)/launch/essentials/joke.launch" >
            <arg name="machine" value="hero2"/>
        </include>

    </group>

    <!-- Action server state machine -->
    <node name="state_machine" pkg="action_server" type="main.py" output="log" required="true" >
        <param name="robot_name" value="hero"/>
    </node>

</launch>
