<?xml version="1.0"?>

<!-- Checkout README.md to see when to use this launch file -->

<launch>
	<arg name="robot_name" value="hero"/>

    <group ns="$(arg robot_name)">

        <!-- NAVIGATION -->
<node pkg="move_base" type="move_base" name="move_base_node">
  <rosparam file="$(find hsrb_rosnav_config)/config/move_base.yaml" command="load" />
  <rosparam file="/home/administrator/tue-hsr/parameters/costmap_common.yaml" command="load" ns="global_costmap" />
  <rosparam file="/home/administrator/tue-hsr/parameters/costmap_common.yaml" command="load" ns="local_costmap" />
  <rosparam file="/home/administrator/tue-hsr/parameters/global_costmap_params.yaml" command="load" />
  <rosparam file="/home/administrator/tue-hsr/parameters/local_costmap_params.yaml" command="load" />

  <rosparam file="/home/administrator/tue-hsr/parameters/local_planner.yaml" command="load" />
  <rosparam file="/home/administrator/tue-hsr/parameters/move_base.yaml" command="load" />

  <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
  <param name="base_local_planner" type="string" value="dwa_local_planner/DWAPlannerROS" />

  <remap from="map" to="ed/navigation/map"/>

  <remap from="cmd_vel" to="/hsrb/command_velocity" />
  <remap from="odom" to="/hsrb/wheel_odom" />

</node>

        <!-- WORLD MODEL -->

<node pkg="ed" type="ed" name="ed" args="/home/administrator/tue-hsr/parameters/world_model.yaml"/>


<!-- Bridges to the toyota software -->
<node pkg="hero_bridge" type="speech.py" name="text_to_speech"/>

        <!-- Joke -->
<!--        <include file="$(find robot_launch_files)/launch/essentials/joke.launch" >
            <arg name="machine" value="amigo2" />
        </include> -->

</group>

    <!-- Action server state machine -->
<!--    <node name="state_machine" pkg="action_server" type="main.py" output="log" required="true" >
        <param name="robot_name" value="amigo"/>
    </node> -->
<!--<group ns="object_recognition">
	<node name="object_recognition" pkg="tensorflow_ros" type="object_recognition_node" output="log" machine="hsrb">
		<param name="graph_path" value="~/tue-hsr/object_recognition/output_graph.pb" />
		<param name="labels_path" value="~/tue-hsr/object_recognition/output_labels_old.txt" />
		<param name="save_images" value="false" />
		<param name="save_images_folder" value="~/tue-hsr/object_recognition/training_data" />
	</node>
</group> -->
</launch>
