<?xml version="1.0"?>

<launch>
    <arg name="robot_name" value="hero" />

    <group ns="$(arg robot_name)">

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="hero2"/>
            <arg name="config" value="world_modeling/world_model_learn_objects.yaml"/>
        </include>

        <!-- IMAGE RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/world_modeling/image_recognition.launch">
            <arg name="machine" value="hero2"/>
        </include>

    </group>

    <node pkg="hero_bringup" type="stationary_broadcaster.py" name="stationary_broadcaster"/>
    <!-- Start the challenge -->
    <node pkg="test_tools" type="learn_objects.py" name="state_machine" args="hero" output="screen" required="true"/>

</launch>
