<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="/hsrb" />

  <node name="safe_pose_changer" pkg="tmc_safe_pose_changer" type="safe_pose_changer">
    <remap from="arm_trajectory_controller/command" to="$(arg namespace)/arm_trajectory_controller/command" />
    <remap from="head_trajectory_controller/command" to="$(arg namespace)/head_trajectory_controller/command" />
    <remap from="gripper_controller/command" to="$(arg namespace)/gripper_controller/command" />

    <param name="sampling_time" type="double" value="0.5" />
    <param name="arm_planning_timeout" type="double" value="1.0" />
    <param name="use_number_of_queued_points" type="bool" value="false" />
    <rosparam param="joint_trajectory_topics">["arm_trajectory_controller/command", "head_trajectory_controller/command", "gripper_controller/command"]</rosparam>
    <rosparam param="arm_trajectory_controller/command/joints">["arm_lift_joint", "arm_flex_joint", "arm_roll_joint", "wrist_flex_joint", "wrist_roll_joint"]</rosparam>
    <rosparam param="head_trajectory_controller/command/joints">["head_pan_joint", "head_tilt_joint"]</rosparam>
    <rosparam param="gripper_controller/command/joints">["hand_motor_joint"]</rosparam>
  </node>
</launch>
