[Unit]
Description=AMIGO start.launch

[Install]
WantedBy=multi-user.target

[Service]
User=amigo
Restart=on-abort
ExecStart=/bin/bash -c 'source /home/amigo/.tue/setup.bash && roslaunch amigo_bringup start.launch --wait'
