[Unit]
Description=AMIGO demo_mode.launch

[Install]
WantedBy=multi-user.target

[Service]
User=amigo
Restart=no
ExecStart=/bin/bash -c 'source /home/amigo/.tue/setup.bash && rosnode kill /state_machine && roslaunch amigo_bringup demo_extern.launch --wait'
