[Unit]
Description=running battery_conversion_node
After=hero1-roscore.service
Requires=hero1-roscore.service

[Install]
WantedBy=multi-user.target

[Service]
User=administrator
Restart=on-failure
ExecStart=/bin/bash -c 'source /home/administrator/.tue/setup.bash && \
                        rosrun hero_bringup battery_conversion_node \
                        __name:=hero1_battery_conversion \
                        __ns:=/hero \
                        battery_state:=battery_state/hero1'
