[Unit]
Description=Windows Speech VM service
After=network.target vboxdrv.service
Before=runlevel2.target shutdown.target

[Service]
User=administrator
Group=vboxusers
Restart=always
ExecStart=/usr/bin/vboxheadless -s windows
ExecStop=/usr/bin/vboxmanage controlvm windows acpipowerbutton

[Install]
WantedBy=multi-user.target
