[Unit]
Description=Head display on Hero's head
After=display-manager.service
Wants=display-manager.service

[Install]
WantedBy=graphical.target

[Service]
User=hsr-hmi
Restart=on-abort
Environment=SYSTEMD_LOG_LEVEL=debug
Environment='DISPLAY=:0'
ExecStart=/usr/bin/hero-display.AppImage
