[Unit]
Description=HERO demo_mode.launch

[Install]
WantedBy=multi-user.target

[Service]
User=administrator
Restart=no
ExecStart=/bin/bash -c 'source /home/administrator/.tue/setup.bash && rosnode kill /state_machine && roslaunch hero_bringup demo_extern.launch --wait'
