[Unit]
Description=Head display on Hero's head

[Install]
WantedBy=multi-user.target

[Service]
User=hsr-hmi
Restart=on-abort
# Put a symlink from /usr/bin/hero-display.AppImage to wherever the real .AppImage is
ExecStart=/usr/bin/hero-display.AppImage
