[Unit]
Description=running upower_ros battery_node

[Install]
WantedBy=multi-user.target

[Service]
User=amigo
Restart=on-failure
ExecStart=/bin/bash -c 'source /home/amigo/.tue/setup.bash && \
                        rosrun upower_ros battery_node \
                        __name:=hero2_battery_node \
                        __ns:=/hero \
                        _battery_topic:=battery_state/hero2 \
                        _upower_path:=/org/freedesktop/UPower/devices/battery_BAT1\
                        _location=laptop'
