[Unit]
Description=ROSCORE
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=-/etc/opt/tmc/robot/version
User=administrator
Restart=on-abort
ExecStart=/bin/bash -c 'source /home/administrator/.tue/setup.bash && rosrun hsrb_bringup hsrb_roscore_service namespace:=/hero --screen'
