[Unit]
Description=NTPDATE

[Install]
WantedBy=docker.hsrb.roscore.hero.service

[Service]
Restart=on-abort
ExecStart=/usr/sbin/ntpdate ntp.ubuntu.com
