[Unit]
Description=NTPDATE
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=hero-roscore.service

[Service]
Restart=on-abort
ExecStart=/usr/sbin/ntpdate ntp.ubuntu.com
