[Unit]
Description=ROSCORE

[Install]
WantedBy=multi-user.target

[Service]
User=amigo
Restart=on-abort
ExecStart=/bin/bash -c 'source /home/amigo/.tue/setup.bash && roscore'
