<?xml version="1.0"?>
<launch>
  <arg name="personal_name" default="/" />
  <arg name="robot_name" default="hsrb" />

  <group ns="$(arg robot_name)">
    <node pkg="hsrb_impedance_control"
          name="impedance_control"
          type="hsrb_impedance_control_node">
<!--
          output="screen">
-->
      <remap from="~wrench_state" to="wrist_wrench/compensated"/>
      <remap from="~configuration_names" to="~config_names"/>
      <remap from="~robot_description" to="/$(arg personal_name)/robot_description"/>

      <param name="base_frame_id" value="odom"/>
      <param name="robot_frame_id" value="base_link"/>
      <param name="control_rate" value="50.0"/>
      <param name="command_duration" value="0.3"/>
      <rosparam command="load"
                file="$(find hsrb_impedance_control)/launch/configurations.yaml"/>
    </node>
  </group>
</launch>
