<?xml version="1.0"?>
<launch>

    <group ns="amigo">

        <!-- OROCOS HARDWARE -->
        <include file="$(find robot_launch_files)/launch/hardware/deployer.launch">
            <arg name="DEPLOYER_ARGS" value="gnulinux
                HARDWARE
                -s /home/tim/ros/indigo/system/src/amigo_bringup/parameters/hardware/actuators/soem.ops
                -s /home/tim/ros/indigo/system/src/amigo_bringup/parameters/hardware/actuators/base_controller_vel.ops
                -s /home/tim/ros/indigo/system/src/amigo_bringup/parameters/hardware/actuators/spindle_controller.ops
                -s /home/tim/ros/indigo/system/src/amigo_bringup/parameters/hardware/actuators/left_arm_controller.ops
                -s /home/tim/ros/indigo/system/src/amigo_bringup/parameters/hardware/actuators/right_arm_controller.ops
                -s /home/tim/ros/indigo/system/src/amigo_bringup/parameters/hardware/actuators/head_controller.ops
                -s /home/tim/ros/indigo/system/src/amigo_bringup/parameters/hardware/actuators/rgb_lights.ops
            "/>
            <arg name="NAME" value ="hardware"/>
            <arg name="LOG_LEVEL" value="Info"/>
            <arg name="DEBUG" value="false"/>
            <arg name="machine" value="amigo2" />
        </include>


    </group>

</launch>
