<?xml version="1.0"?>
<launch>
    <group ns="hero2/festival_speech" if="$(optenv HERO2_FESTIVAL_SPEECH false)">
        <!-- Start TTS node -->
        <node pkg="text_to_speech" type="text_to_speech_node.py" respawn="false" name="text_to_speech" output="log">
            <param name="tts_module" value="festival"/>
            <remap from="text_to_speech/input" to="/hero/text_to_speech/output" />
        </node>

        <!-- Start play node -->
        <node pkg="text_to_speech" type="player.py" respawn="false" name="audio_player" output="log">
        </node>
    </group>
</launch>
