<?xml version="1.0"?>
<launch>

    <group ns="amigo">

        <!-- PARAMETERS: desciption, joint groups and specific skills -->
        <param name="robot_description" textfile="$(find amigo_description)/urdf/amigo.urdf" />
        <rosparam file="$(find amigo_description)/custom/joint_groups.yaml" command="load" />
        <rosparam file="$(find amigo_description)/custom/skills.yaml" command="load" />
        
   </group>

 </launch>
