<?xml version="1.0"?>

<launch>

    <!-- Syncing of ed XMLRCP Server -->
    <include file="$(find robot_launch_files)/launch/multirobot/world_model_client_bridge.launch">
        <arg name="machine" value="amigo1"/>
        <arg name="other_robot" value="sergio"/>
    </include>

    <group ns="amigo">

        <!-- MANIPULATION -->
        <include file="$(find robot_launch_files)/launch/manipulation/moveit.launch">
            <arg name="machine" value="amigo1"/>
        </include>
        <include file="$(find robot_launch_files)/launch/manipulation/arm.launch">
            <arg name="name" value="left_arm"/>
            <arg name="machine" value="amigo1"/>
        </include>
        <include file="$(find robot_launch_files)/launch/manipulation/arm.launch">
            <arg name="name" value="right_arm"/>
            <arg name="machine" value="amigo1"/>
        </include>
        <include file="$(find robot_launch_files)/launch/manipulation/head.launch">
            <arg name="machine" value="amigo1"/>
        </include>

        <!-- NAVIGATION GMAPPING -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="amigo1"/>
        </include>

        <!-- WORLD MODEL -->
		<include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo1"/>
            <arg name="config" value="world_modeling/world_model_final.yaml"/>
		</include>

        <!-- SPEECH RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/interaction/speech_recognition.launch">
            <arg name="machine" value="amigo3"/>
        </include>

        <!-- TEXT TO SPEECH -->
        <include file="$(find robot_launch_files)/launch/interaction/text_to_speech.launch">
            <arg name="machine-tts" value="amigo3"/>
            <arg name="machine-play" value="amigo3"/>
        </include>

        <!-- Action server -->
        <include file="$(find robot_launch_files)/launch/interaction/action_server.launch">
            <arg name="machine" value="amigo1"/>
            <arg name="robot" value="amigo" />
        </include>

    </group>

</launch>
