<?xml version="1.0"?>

<launch>

    <group ns="sergio">

        <node name="ed" pkg="challenge_final" type="client.py">
            <param name="ip" value="192.168.2.71" />
            <param name="port" value="4000" />
        </node>
        
    </group>

    <group ns="amigo">

        <!-- MANIPULATION -->        
        <include file="$(find robot_launch_files)/launch/manipulation/torso.launch">
            <arg name="machine" value="amigo1"/>
        </include>
        
        <include file="$(find robot_launch_files)/launch/manipulation/arm.launch">
            <arg name="name" value="left_arm"/>
            <arg name="machine" value="amigo1"/>
        </include>

        <include file="$(find robot_launch_files)/launch/manipulation/arm.launch">
            <arg name="name" value="right_arm"/>
            <arg name="machine" value="amigo1"/>
        </include>

        <include file="$(find robot_launch_files)/launch/manipulation/head.launch">
            <arg name="machine" value="amigo1"/>
        </include>
        
        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="amigo1"/>
        </include> 

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo1"/>
            <arg name="config" value="world_modeling/world_model_final.yaml"/>
        </include> 
        
        <include file="$(find robot_launch_files)/launch/world_modeling/reasoner.launch">
            <arg name="machine" value="amigo3"/>
        </include> 

        <!-- SPEECH RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/interaction/speech_recognition.launch">
            <arg name="machine" value="amigo3"/>
        </include> 

        <!-- TEXT TO SPEECH -->
        <include file="$(find robot_launch_files)/launch/interaction/text_to_speech.launch">
            <arg name="machine" value="amigo3"/>
        </include> 

        <!-- PRESENTATION TIMER SERVER -->
        <node name="presentation_timer" pkg="challenge_final" type="time.py">
        </node>

    </group>

</launch>
