<?xml version="1.0"?>

<launch>

    <group ns="amigo">

		<!-- NAVIGATION -->
		<include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
			<arg name="machine" value="amigo2"/>
		</include>

		<!-- WORLD MODEL -->
		<include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
			<arg name="machine" value="amigo2"/>
		</include>

		<!-- Action server -->
		<include file="$(find robot_launch_files)/launch/interaction/action_server.launch">
			<arg name="machine" value="amigo2"/>
			<arg name="robot" value="amigo" />
		</include>

		<!-- Joke -->
		<include file="$(find robot_launch_files)/launch/essentials/joke.launch" >
			<arg name="machine" value="amigo2" />
		</include>

    </group>

</launch>
