<?xml version="1.0"?>

<launch>

    <group ns="amigo">

        <!-- MANIPULATION -->        
        <include file="$(find robot_launch_files)/launch/manipulation/moveit.launch">
            <arg name="machine" value="amigo1"/>
        </include>
        <include file="$(find robot_launch_files)/launch/manipulation/head.launch">
            <arg name="machine" value="amigo1"/>
        </include>
        
        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="amigo1"/>
        </include> 

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="amigo1"/>
        </include> 
        
        <include file="$(find robot_launch_files)/launch/world_modeling/reasoner.launch">
            <arg name="machine" value="amigo3"/>
        </include> 

        <!-- SPEECH RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/interaction/speech_recognition.launch">
            <arg name="machine" value="amigo3"/>
        </include> 

        <!-- TEXT TO SPEECH -->
        <include file="$(find robot_launch_files)/launch/interaction/text_to_speech.launch">
            <arg name="machine" value="amigo3"/>
        </include> 

        <!-- Action server -->
        <include file="$(find robot_launch_files)/launch/interaction/action_server.launch">
            <arg name="machine" value="amigo1"/>
            <arg name="robot" value="amigo" />
        </include> 

    </group>

</launch>
