<?xml version="1.0"?>
<launch>

    <arg name="debug" default="false" />

        <!--Toyota parameters -->
    <arg name="namespace" default="/hero"/>
    <arg name="toyota_namespace" default="/hsrb"/>
    <arg name="use_hand_camera" default="true" />
    <arg name="use_head_center_camera" default="true" />
    <arg name="use_head_stereo_camera" default="true"/>
    <arg name="use_head_rgbd_sensor" default="true"/>
    <arg name="use_laser_odom" default="true"/>
    <arg name="use_blackfly" default="false" />
    <arg name="monitor" default="false" />
    <arg name="param_file" default="$(env HOME)/.ros/params.yaml" />
    <arg name="align_at_startup" default="true" />
    <arg name="auto_start" default="false" />
    <arg name="robot_name" default="hsrb" />
    <arg name="enable_emergency_stop" default="true" />

    <!-- robot desctription -->
    <include file="$(find hsrb_description)/robots/upload_hsrb.launch" />
    <group ns="$(arg namespace)">
        <rosparam file="$(find hero_description)/custom/joint_groups.yaml" command="load" />
        <rosparam file="$(find hero_description)/custom/skills.yaml" command="load" />
    </group>

    <group ns="$(arg namespace)">
            <!-- Phone UI -->
            <include file="$(find tue_mobile_ui)/launch/hero.launch"/>

            <include file="$(find robot_launch_files)/launch/manipulation/head.launch">
                <arg name="machine" value="hsrb"/>
            </include>

            <!-- bridge nodes-->
            <node pkg="hero_bridge" type="speech.py" name="text_to_speech"/>
            <node pkg="hero_bridge" type="joint_trajectory.py" name="arm_bridge"/>
            <node pkg="hero_bridge" type="gripper_controller.py" name="gripper_bridge"/>
            <node pkg="hero_bridge" type="tf_ghost.py" name="tf_ghost"/>
            <node pkg="hero_bridge" type="head_controller.py" name="head_bridge"/>
            <node pkg="hero_bridge" type="manipulation_bridge.py" name="manipulation_bridge"/>
            <node pkg="hero_bridge" type="handover_detection.py" name="handoverdetector"/>

    </group>

    <group ns="hero">
        <remap from="/hero/top_kinect/rgbd" to="/hsrb/head_rgbd_sensor/rgbd"/>
        <include file="$(find robot_launch_files)/launch/essentials/rgbd_to_ros.launch">
                <arg name="name" value="top_kinect"/>
        </include>
    </group>

</launch>
