<?xml version="1.0"?>
<launch>

    <!-- PARAMETERS: load robot -->
    <param name="/amigo/robot_description" textfile="$(find amigo_description)/urdf/amigo.urdf" />

    <!-- PARAMETERS: load robot joint group info -->
    <rosparam file="$(find amigo_description)/custom/joint_groups.yaml" command="load" />

    <!-- PARAMETERS: Load robot specific skill parameters -->
    <rosparam file="$(find amigo_description)/custom/skills.yaml" command="load" ns="/amigo/skills"/>

    <group ns="amigo">

        <!-- Robot state publisher -->
        <include file="$(find robot_launch_files)/launch/essentials/robot_state_publisher.launch" />

        <group unless="$(optenv ROBOT_REAL false)">

            <!-- Simulator -->
            <include file="$(find robot_launch_files)/launch/simulator/simulator.launch" />

        </group>

        <!-- DIAGNOSTICS -->
        <include file="$(find robot_launch_files)/launch/diagnostics/diagnostics.launch" />

        <!-- TF Server: advertises services for looking up transformations -->
        <!-- TODO -->

        <!-- Phone UI -->
        <!-- TODO -->

    </group>

 </launch>
