<?xml version="1.0"?>

<launch>

    <group ns="sergio">

        <node name="ed" pkg="challenge_final" type="client.py">
            <param name="ip" value="192.168.2.71" />
            <param name="port" value="4000" />
        </node>
        
    </group>

    <group ns="amigo">

        <node name="trigger_client" pkg="challenge_final" type="trigger_client.py">
            <param name="ip" value="192.168.2.71" />
            <param name="port" value="4001" />
        </node>

    </group>

</launch>
